*{
  margin: 0;
  padding: 0;
}

body{
    position: relative;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background:  #ffffff;
    overflow-x: hidden;
}


html{
  scroll-behavior: smooth;
}
/* navbar */
nav{
  display: flex;
  background-color: #FFEBCD;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  color:#f0bf77;
}
nav .logo{
font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; ;
text-align: left;
font-size: 50px;

}
nav .logo h3 a{
  text-decoration: none;
  color:#f0bf77;
}

nav ul{
  display: flex;
  list-style: none;
  width: 30%;
  font-family: Montserrat;
  font-size: 16px;
  text-align: left;
  justify-content: space-between;
  /* background-color: #faf1e4; */
}

nav ul li a{
  color: #f0bf77;
  text-decoration: none;
}

nav ul li a:hover{
  color: #f0bf77;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}


.menu-toggle input{
  position: absolute;
  width: 30px;
  height: 29px;
  left: -1px;
  top: -4px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}


.menu-toggle span{
  display: block;
  width: 28px;
  height: 3px;
  background-color: #eed3a9;
  border-radius: 3px;
  transition: all 0.1s;
}


/* hamburger menu animasi*/
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}


.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}


.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}


.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}


.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}


/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 100%;
  }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu-toggle{
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: auto;
    background-color: #FFEBCD;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
}

nav ul.slide {
  opacity: 1;
  transform: translateX(0);
}


.highlight { 
  margin: auto;
  } 


.wadah{
  position: relative;
}


.wadah img{
  width: 100%;
  height: 589px;
  position: relative;
  z-index: -2;
} 


.analogi{
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: flex;
  flex-direction: column;
  background: #fffdfd;
  box-shadow: 0px 0px 12px 0px rgb(255, 222, 195);
}


.analogi h3{
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #000;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.analogi-title{
  font-style: italic;
  font-size: 16px;
  font-family: monospace;
  color: #777;
  padding: 10px 0;
}


.analogi-text{
  align-items: center;
  justify-content: center;
  text-align: center;
}


.analog-kesimpulan{
  color: #777;
  padding: 30px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

.about{
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: #f5f5f5;
  box-shadow: 0px 0px 12px 0px rgb(255, 222, 195);
}

.about-img img{
  width: 100%;
  height: 464px;
  z-index: -2;
}

.about h3 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #000;
}

.about p{
  font-style: italic;
  color: #777;
  padding: 30px 0;
}

/* team */
.Team{
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: flex;
  flex-direction: column;
  background: #fffdfd;
  box-shadow: 0px 0px 12px 0px rgb(255, 222, 195);
}
.Team h3 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #000;
  text-align: center;
}


ul {
  margin:0;
  padding:0;
  display:grid;
    list-style-type:none;
    margin:0;
    padding:0;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto)
}
ul li {
  padding: 2em;
  color:#E98A8A;
}
ul li span {
  display:block;
  font-size:1.4em;
  margin-bottom:1em;
  color: #000000;
}

/* Registrasi */

.judul h3{
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; ;
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 38px;
  font-weight: 450;
  line-height: 56px;
  color: #000;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(133, 133, 133, 0.342);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color: #1de099;
  border: 0;
  border-radius: 20px;
  padding: 9px 30px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

input[type=submit]:hover {
  background-color: #1de099;
}

.checkbox{
  padding: 12px 20px;
  
}

.form-group p{
  color: #888;
  font-size: small;
  padding: 4px 110px;
}

.psn-label{
  padding: 8px 0px;
}

.radio{
  padding: 12px 20px;
}

#pendaftaran{
  border-radius: 5px;
  background-color: #FFEBCD;
  padding: 20px;
}



/* footer */
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgb(255, 222, 195);
  padding: 30px 0;
  color: #333;
  text-align: center;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  color: #888;
}

#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: #1dc8cd;
}